# Update STORE to the folder you want to store downloaded firmware files
# and processed files.
STORE=.

# Where to store downloaded firmware (.ipsw) files.
IPSW_STORE="$STORE"/ipsw

# Where to store extracted and processed files.
OUT_STORE="$STORE"/out
